@import url("https://fonts.googleapis.com/css2?family=Arima&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Ibarra+Real+Nova&family=Lato:wght@300;700&family=Merriweather:wght@300;400&family=Poppins:wght@100;200&display=swap");
.Memories-button {
  background-color: WHITE;
  border-radius: 20px;
  font-family: "Ibarra Real Nova", serif;
}

.Memories-list {
  font-size: 18px;
  list-style: none;
  padding: 0px;
}
