@import url("https://fonts.googleapis.com/css2?family=Arima&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Ibarra+Real+Nova&family=Lato:wght@300;700&family=Merriweather:wght@300;400&family=Poppins:wght@100;200&display=swap");

.TimerV2-reset {
  font-family: "Ibarra Real Nova", serif;
  padding: 3px 10px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-style: solid;
}

.TimerV2-reset {
  border: 2px solid #000;
}
.TimerV2-reset:hover {
  background: #000;
  color: #fff;
}
.TimerV2-reset:active {
  top: 2px;
}
