@import url("https://fonts.googleapis.com/css2?family=Arima&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Ibarra+Real+Nova&family=Lato:wght@300;700&family=Merriweather:wght@300;400&family=Poppins:wght@100;200&display=swap");
.WritingInput-text-box {
  height: 300px;
  width: 700px;
  resize: vertical;
  padding: 15px;
  padding-bottom: 10px;
  border-width: 0.2px;
  border-radius: 25px;
  border-color: darkgrey;
  outline-color: rgb(164, 164, 164);
  outline-width: 0.1px;
}

.WritingInput-button {
  border-radius: 20px;
  vertical-align: top;
  background-color: white;
  font-family: "Ibarra Real Nova", serif;
}

.WritingInput-button-container {
  height: 50px;
}
