@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ibarra+Real+Nova:ital@1&family=Niconne&family=Tangerine&display=swap");

.Writing {
  font-size: 70px;
  padding-bottom: 0px;
}

.Writing-header {
  font-family: "Tangerine", cursive;
  margin-top: 10px;
  margin-bottom: 0px;
}
